

.incident-summary{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 0.4em;;
    height: max-content;;
    width: 100%;    
    padding: 1em;    
    .incident-summary-header{
        display: flex;
        flex-direction: row;        
        align-items: center;
        margin-bottom: 1em;
        .openai{
            height: 1em;
            margin-right: 0.5em;
        }
        .incident-summary-heading{
            
            align-self: flex-start;    
            margin-bottom: 0 !important; 
        }
        .generate-button{
            /* height: 2em; */
            align-items: center;
            
        }
    }
    .loading{
        display: flex;
        flex-direction: row;
        .loading-text{
            span {
                display: inline-block;
                font-size: 1em;;
                font-weight: 200;
              }
        }
        .loading04 {
            span {
              animation: loading04 2s infinite;
              @for $i from 1 through 9 {
                &:nth-child(#{$i+1}) {
                  animation-delay: #{$i*.1}s;
                }
              }
            }
          }
          @keyframes loading04 {
            0%, 100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(2px);
            }
          }
        .loading-animation{
            width: 1.5em;;
        }
    }
    .summary-body{
        /* background-color: #f6f6f6; */
        text-align: start;
    }
    
}

.custom-markdown h1 {
  font-size: 20px !important;
}

.custom-markdown h2 {
  font-size: 18px !important;
}

.custom-markdown h3 {
  font-size: 16px !important;
}

.custom-markdown h6 {
  font-size: 12px !important;
}

.custom-markdown p {
  font-size: 14px !important;
}