.mid-container{
    display: flex;
    flex-direction: column;
    height: 100%;;
    width:  100%;;
    gap: 0.5em;
    
    .incident-details{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 0.4em;        
        width: 100%;
        height: 100%;
        gap: 0.5em;
        align-items: flex-start;  
        padding: 1em;
        overflow-y: auto;
        .incident-heading{
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            
            .incident-heading-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                .icon{
                    cursor: pointer;
                }

                
            }

            .incident-heading-left{
                display: flex;
                flex-direction: row;
                .circle-high{
                    background-color: red;
                    border-radius: 20em;
                    width: 1em;
                    height: 1em;
                    margin-right: 0.4em;
                }
                .incident-number{
                    align-self: center;
                    margin-bottom: 0;
                    
                }
            }
            .incident-heading-right{
                
                .incident-number{
                    align-self: center;
                    margin-bottom: 0;
                    
                }
            }
        }
        .caller-assignee-details{
            display:flex;
            flex-direction: row;;
            justify-content: space-between;
            width: 100%;
            .incident-caller, .incident-assignee{
                display: flex;
                flex-direction: row;            
                align-items: center;  
                justify-content: center;            
            }
            
        }
        .incident-description{
            display: flex;
            flex-direction: column;            
            align-items: flex-start; 
            
        }
        
    }    
    .incident-details-null{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 0.5em;;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .incident-summary-null{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 0.5em;;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

.incident-detail-description {
    display: flex;
    width: 100%;
    gap: 15px;
    .incident-summary-section {
        flex: 9;
    }

    .incident-caller-details {
        flex: 3;
        text-align: start;
    }
}

.icon-container {
    display: flex;
    gap: 20px;
    margin-right: 15px;
  }
  
  .icon-wrapper {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;

    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;  
    font-size: 16px !important;
  }
  
  /* Hover Effect */
  .icon-wrapper:hover {
    background: #ccc;
  }
  
  /* Tooltip Styling */
  .icon-wrapper::after {
    content: attr(data-title);
    position: absolute;
    bottom: calc(-30px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  /* Show Tooltip on Hover */
  .icon-wrapper:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
  }
  
  