.tool-list{
    background-color: white;
    height: inherit;
    
    
    .tools-heading {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .tool {
        font-size: 12px;  
        cursor: pointer; 
        background-color: #ffffff;
        transition: box-shadow 0.3s ease;
        
    }

    .tool-name{
        margin-bottom: 0.5em;
    }
    
    .tool:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1)
    }
}