.alert-card-container {
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    padding: 4px 0;
    border-radius: 0.2em;
    border: 5px solid rgb(241, 241, 241);

}

.critical {
    border-left-color: #e74c3c;
}

.major {
    border-left-color: #f39c12;
}

.warning {
    border-left-color: #f1c40f;
}
  
.alert-card-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
}
  
.alert-card-body {
    padding: 8px;
    max-height: 0;
    text-align: start;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    padding: 0 8px; /* Initial padding */

}
  
.alert-card-container.active .alert-card-body {
    max-height: 800px; /* Adjust as per your content */
    opacity: 1; /* Fade in */
    padding: 8px;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}
  
.arrow.rotate {
    transform: rotate(180deg); /* Rotate the arrow when the card is open */
}