.chat-input-box {
    justify-content: space-between;
}

.rce-container-input {
    min-width: 0;
    width: 100%;
}

.custom-chat-text {
    font-family: 'Arial', sans-serif; /* Adjust to your preferred font */
    font-size: 14px;
    color: #333; /* Optional: Adjust color */
  }
  

.chat-box-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 80%;
    padding: 0.5em;
}

.chat-box-window {
    flex-grow: 1;
    overflow-y: 'auto';
    padding: '10px';
    text-align: 'left'
}

.chat-input-box {
    border-radius: 8px;
}

.send-icon {
    cursor: pointer;
    background-color: #FFF;
    padding: 5px;
}

.loading-section{
  .loading{
    display: flex;
    flex-direction: row;
    .loading-text{
      margin-left: 0.2em;
      span {
          display: inline-block;
          font-size: 0.8em;;
          font-weight: 200;
        }
    }
    .loading-animation{
      
      width: 1.5em;;
  }
    .loading04 {
      span {
        animation: loading04 2s infinite;
        @for $i from 1 through 9 {
          &:nth-child(#{$i+1}) {
            animation-delay: #{$i*.1}s;
          }
        }
      }
    }
  }
  
  @keyframes loading04 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(2px);
    }
  
  }
}

.custom-markdown h1 {
    font-size: 20px !important;
  }
  
  .custom-markdown h2 {
    font-size: 18px !important;
  }
  
  .custom-markdown h6 {
    font-size: 12px !important;
  }
  
  .custom-markdown p {
    font-size: 14px !important;
  }
  
  .rce-mbox {
    width: fit-content;
    max-width: fit-content !important;
  }