.dependency-tree-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.4em;;
    height: 100%;
}

.dependency-empty-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;

}

.dependency-container-header {
    display: flex;
    justify-content: space-between;

    .icon {
        margin-left: 5px;
        cursor: pointer;
        height: fit-content;
    }
}

.dependency-container-header .title {
    margin: 1em;
    align-self: flex-start; 
}
